<h1>Edição de Seção</h1>

<% form_for(@secao) do |f| %>
  <%= f.error_messages %>

  <p>
    Código da Seção<br />
    <%= f.text_field :cod_secao %>
  </p>
  <p>
    Código da Zona<br />
    <%= f.text_field :cod_zona %>
  </p>
  <p>
    Código do Município<br />
    <%= f.text_field :cod_munic %>
  </p>
  <p>
    Código do Estado<br />
    <%= f.text_field :cod_est %>
  </p>
  <p>
    Código da Urna<br />
    <%= f.text_field :cod_urna %>
  </p>
  <p>
    <%= f.label :sala %><br />
    <%= f.text_field :sala %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Ver', @secao %> |
<%= link_to 'Voltar', secaos_path %>

