<br /><h1>Listagen de Seções</h1><br /><br /><br />

<table>
  <tr>
    <th>Cod secao</th>
    <th>Cod zona</th>
    <th>Cod munic</th>
    <th>Cod est</th>
    <th>Cod urna</th>
    <th>Sala</th>
  </tr>

<% for secao in @secaos %>
  <tr>
    <td><%=h secao.id %></td>
    <td><%=h secao.zona.nome_zona %></td>
    <td><%=h secao.municipio_id %></td>
    <td><%=h secao.estado_id %></td>
    <td><%=h secao.urna_id %></td>
    <td><%=h secao.sala %></td>
    <td class="view"><%= link_to 'Ver', secao %></td>
    <td class="edit"><%= link_to 'Editar', edit_secao_path(secao) %></td>
    <td class="cancel"><%= link_to 'Excluir', secao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="add"><%= link_to 'Nova Seção', new_secao_path %></span>
<span class="home"><%= link_to 'HOME', home_index_path %></span>

