<h1>Nova Seção</h1>

<% form_for(@secao) do |f| %>
  <%= f.error_messages %>

  <p>
    Zona<br />
    <%= collection_select(:secao, :zona_id, Zona.all, :id, :nome_zona) %>
  </p>
  <p>
    Município<br />
    <%= collection_select(:secao, :municipio_id, Municipio.all, :id, :nome_munic) %>
  </p>
  <p>
    Estado<br />
    <%= collection_select(:secao, :estado_id, Estado.all, :id, :nome_est) %>
  </p>
  <p>
    Urna<br />
    <%= collection_select(:secao, :urna_id, Urna.all, :id, :id) %>
  </p>
  <p>
    <%= f.label :sala %><br />
    <%= f.text_field :sala %>
  </p>
  <p>
    <%= f.submit "Criar" %>
  </p>
<% end %>

<%= link_to 'Voltar', secaos_path %>

