<br /><h1>Nova Seção</h1><br /><br /><br />

<% form_for(@secao) do |f| %>
  <%= f.error_messages %>
<div class="new">
  <p>Zona: <%= collection_select(:secao, :zona_id, Zona.all, :id, :nome_zona) %></p><br />
  <p>Município: <%= collection_select(:secao, :municipio_id, Municipio.all, :id, :nome_munic) %></p><br />
  <p>Estado: <%= collection_select(:secao, :estado_id, Estado.all, :id, :nome_est) %></p><br />
  <p>Urna: <%= collection_select(:secao, :urna_id, Urna.all, :id, :id) %></p><br />
  <p>Sala: <%= f.text_field :sala %></p><br />
  <p class="criar"><%= f.submit "Criar" %></p><br />
<% end %>
</div>

<span class="noborder"><%= link_to image_tag("/images/voltar.png", :border=>0), :action => 'index', :controller => 'secaos' %></span>
<span class="noborder"><%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %></span>

