<p>
  <b>Cod secao:</b>
  <%=h @secao.cod_secao %>
</p>

<p>
  <b>Cod zona:</b>
  <%=h @secao.cod_zona %>
</p>

<p>
  <b>Cod munic:</b>
  <%=h @secao.cod_munic %>
</p>

<p>
  <b>Cod est:</b>
  <%=h @secao.cod_est %>
</p>

<p>
  <b>Cod urna:</b>
  <%=h @secao.cod_urna %>
</p>

<p>
  <b>Sala:</b>
  <%=h @secao.sala %>
</p>


<%= link_to 'Edit', edit_secao_path(@secao) %> |
<%= link_to 'Back', secaos_path %>
