<br /><h1>Edição de Municípios</h1><br /><br /><br />

<% form_for(@municipio) do |f| %>
  <%= f.error_messages %>
<div class="editar">
  <p>Estado: <%= collection_select(:municipio, :estado_id, Estado.all, :id, :nome_est) %></p><br />
  <p>Nome do Município: <%= f.text_field :nome_munic %></p><br />
  <p class="atualizar"><%= f.submit "Atualizar" %></p>
<% end %>
</div>

<br />

<span class="noborder"><%= link_to image_tag("/images/voltar.png", :border=>0), :action => 'index', :controller => 'municipios' %></span>
<span class="view"><%= link_to 'Ver', @municipio %></span>
<span class="noborder"><%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %></span>

