<h1>Edição de Municípios</h1>

<% form_for(@municipio) do |f| %>
  <%= f.error_messages %>

  <p>
    Estado<br />
    <%= collection_select(:municipio, :estado_id, Estado.all, :id, :nome_est) %>
  </p>
  <p>
    Nome do Município<br />
    <%= f.text_field :nome_munic %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Exibir', @municipio %> |
<%= link_to 'Voltar', municipios_path %>

