<br /><h1>Listagem de Municípios</h1><br /><br /><br />

<table>
  <tr>
    <th>Código do Município</th>
    <th>Estado Relacionado</th>
    <th>Nome do Município</th>
  </tr>

<% for municipio in @municipios %>
  <tr>
    <td><%=h municipio.id %></td>
    <td><%=h municipio.estado_id %></td>
    <td><%=h municipio.nome_munic %></td>
    <td class="noborder"><%= link_to image_tag("/images/view.png", :border=>0), :action => 'show', :id => municipio %></td>
    <td class="noborder"><%= link_to image_tag("/images/edit.png", :border=>0), :action => 'edit', :id => municipio %></td>
    <td class="noborder"><%= link_to image_tag("/images/cancel.png", :border=>0), municipio, :confirm => 'Are you sure?', :method => :delete %></td>
 </tr>
<% end %>
</table>

<br />

<%= link_to image_tag("/images/add.png", :border=>0), :action => 'new', :id => municipio %>
<%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %>

