<h1>Listagem de Municípios</h1>

<table>
  <tr>
    <th>Código do Município</th>
    <th>Código do Estado</th>
    <th>Nome do Município</th>
  </tr>

<% for municipio in @municipios %>
  <tr>
    <td><%=h municipio.cod_munic %></td>
    <td><%=h municipio.cod_est %></td>
    <td><%=h municipio.nome_munic %></td>
    <td><%= link_to 'Exibir', municipio %></td>
    <td><%= link_to 'Editar', edit_municipio_path(municipio) %></td>
    <td><%= link_to 'Excluir', municipio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Município', new_municipio_path %>
<%= link_to 'HOME', home_index_path %>

