<h1>New municipio</h1>

<% form_for(@municipio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cod_munic %><br />
    <%= f.text_field :cod_munic %>
  </p>
  <p>
    <%= f.label :cod_est %><br />
    <%= f.text_field :cod_est %>
  </p>
  <p>
    <%= f.label :nome_munic %><br />
    <%= f.text_field :nome_munic %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', municipios_path %>
