<h1>Novo Município</h1>

<% form_for(@municipio) do |f| %>
  <%= f.error_messages %>

  <p>
    Estado<br />
    <select name="municipio_select">
      <option></option>
      <% @estado = Estado.find(:all)
         @estado.each do |estado| %>
         <option value='<%= estado.id%>'><%= estado.id%> - <%= estado.nome_est %></option>
      <% end %>
    </select>
    <%= f.text_field :estado_id %>
  </p>
  <p>
    Nome do Município<br />
    <%= f.text_field :nome_munic %>
  </p>
  <p>
    <%= f.submit "Criar" %>
  </p>
<% end %>

<%= link_to 'Voltar', municipios_path %>

