<br /><h1>Novo Município</h1><br /><br /><br />

<% form_for(@municipio) do |f| %>
  <%= f.error_messages %>
<div class="new">
  <p>Estado: <%= collection_select(:municipio, :estado_id, Estado.all, :id, :nome_est) %></p><br />
  <p>Nome do Município: <%= f.text_field :nome_munic %></p><br />
  <p class="criar"><%= f.submit "Criar" %></p><br />
<% end %>
</div>

<span class="voltar"><%= link_to 'Voltar', municipios_path %><span>
<span class="home"><%= link_to 'HOME', home_index_path %><span>

