<br /><h1>Municipio</h1><br /><br /><br />

<div class="show">
  <p><b>Código do Município: </b><%=h @municipio.id %></p><br />
  <p><b>Código do Estado: </b><%=h @municipio.estado_id %></p><br />
  <p><b>Nome do Município: </b><%=h @municipio.nome_munic %></p>
</div>

<br />

<span class="noborder"><%= link_to image_tag("/images/voltar.png", :border=>0), :action => 'index', :controller => 'municipios' %></span>
<span class="view"><%= link_to 'Editar', edit_municipio_path(@municipio) %></span>
<span class="noborder"><%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %></span>

