<br /><h1>Municipio</h1><br /><br /><br />

<div class="show">
  <p><b>Código do Município: </b><%=h @municipio.id %></p><br />
  <p><b>Código do Estado: </b><%=h @municipio.estado_id %></p><br />
  <p><b>Nome do Município: </b><%=h @municipio.nome_munic %></p>
</div>

<br />

<span class="edit"><%= link_to 'Editar', edit_municipio_path(@municipio) %></span>
<span class="voltar"><%= link_to 'Voltar', municipios_path %></span>
<span class="home"><%= link_to 'HOME', home_index_path %></span>

