<p>
  <b>Código do Município:</b>
  <%=h @municipio.id %>
</p>

<p>
  <b>Código do Estado:</b>
  <%=h @municipio.estado_id %>
</p>

<p>
  <b>Nome do Município:</b>
  <%=h @municipio.nome_munic %>
</p>


<%= link_to 'Editar', edit_municipio_path(@municipio) %> |
<%= link_to 'Voltar', municipios_path %>

