<h1>Edição de Partido</h1>

<% form_for(@partido) do |f| %>
  <%= f.error_messages %>

  <p>
    Nome do Partido<br />
    <%= f.text_field :nome_partido %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.label :end_internet %><br />
    <%= f.text_field :end_internet %>
  </p>
  <p>
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </p>
  <p>
    Presidente Nacional<br />
    <%= f.text_field :pres_nacional %>
  </p>
  <p>
    <%= f.label :comp_colig %><br />
    <%= f.text_field :comp_colig %>
  </p>
  <p>
    <%= f.label :coligacao %><br />
    <%= f.text_field :coligacao %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Ver', @partido %> |
<%= link_to 'Voltar', partidos_path %>

