<h1>Listing partidos</h1>

<table>
  <tr>
    <th>Cod partido</th>
    <th>Nome partido</th>
    <th>Endereco</th>
    <th>Telefone</th>
    <th>End internet</th>
    <th>Sigla</th>
    <th>Comp colig</th>
    <th>Coligacao</th>
  </tr>

<% for partido in @partidos %>
  <tr>
    <td><%=h partido.cod_partido %></td>
    <td><%=h partido.nome_partido %></td>
    <td><%=h partido.endereco %></td>
    <td><%=h partido.telefone %></td>
    <td><%=h partido.end_internet %></td>
    <td><%=h partido.sigla %></td>
    <td><%=h partido.comp_colig %></td>
    <td><%=h partido.coligacao %></td>
    <td><%= link_to 'Show', partido %></td>
    <td><%= link_to 'Edit', edit_partido_path(partido) %></td>
    <td><%= link_to 'Destroy', partido, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New partido', new_partido_path %>
<%= link_to 'HOME', home_index_path %>

