<p>
  <b>Código do Partido:</b>
  <%=h @partido.cod_partido %>
</p>

<p>
  <b>Nome do Partido:</b>
  <%=h @partido.nome_partido %>
</p>

<p>
  <b>Endereço:</b>
  <%=h @partido.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @partido.telefone %>
</p>

<p>
  <b>End internet:</b>
  <%=h @partido.end_internet %>
</p>

<p>
  <b>Sigla:</b>
  <%=h @partido.sigla %>
</p>

<p>
  <b>Comp colig:</b>
  <%=h @partido.comp_colig %>
</p>

<p>
  <b>Coligacao:</b>
  <%=h @partido.coligacao %>
</p>


<%= link_to 'Editar', edit_partido_path(@partido) %> |
<%= link_to 'Voltar', partidos_path %>

