<h1>Edição de Eleitor</h1>

<% form_for(@eleitor) do |f| %>
  <%= f.error_messages %>

  <p>
    Número do Título*: <%= f.text_field :tit_eleitor %><br />
  </p>
  <p>
    Código da Seção*: <%= f.text_field :cod_secao %><br />
  </p>
  <p>
    Código da Zona*: <%= f.text_field :cod_zona %><br />
  </p>
  <!--p>
    <%= f.label :cod_func %>????<br />
    <%= f.text_field :cod_func %>
  </p-->
  <p>
    Nome*: <%= f.text_field :nome %><br />
  </p>
  <p>
    Data de Nascimento*: <%= f.text_field :data_nasc %><br />
  </p>
  <p>
    CPF*: <%= f.text_field :cpf %><br />
  </p>
  <p>
    RG*: <%= f.text_field :rg %><br />
  </p>
  <p>
    Código Biométrico: <%= f.text_field :cod_bio %><br />
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>
  <p class="campOb">*Campos Obrigatórios !</p>
<%= link_to 'Ver', @eleitor %> |
<%= link_to 'Voltar', eleitors_path %>
<%= link_to 'HOME', home_index_path %>

