<br /><h1>Novo eleitor</h1><br /><br /><br />

<% form_for(@eleitor) do |f| %>
  <%= f.error_messages %>

<div class="new">
  <p> Número do Título*: <%= f.text_field :tit_eleitor %><br /><br /></p>
  <p> Código da Seção*: <%= f.text_field :cod_secao %><br /><br /></p>
  <p> Código da Zona*: <%= f.text_field :cod_zona %><br /><br /></p>
  <!--p><%= f.label :cod_func %><br /><%= f.text_field :cod_func %></p-->
  <p> Nome*: <%= f.text_field :nome %><br /><br /></p>
  <p> Data de Nascimento*: <%= f.text_field :data_nasc %><br /><br /></p>
  <p> CPF*: <%= f.text_field :cpf %><br /><br /></p>
  <p> RG*: <%= f.text_field :rg %><br /><br /></p>
  <p> Código Biométrico: <%= f.text_field :cod_bio %><br /><br /></p>

  <a href="javascript:document.getElementById('new_eleitor').submit()">Criar</a>
<% end %>
</div>
<p class="campOb">*Campos Obrigatórios !</p><br /><br />
<span class="noborder"><%= link_to image_tag("/images/voltar.png", :border=>0), :action => 'index', :controller => 'eleitors' %></span>
<span class="noborder"><%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %></span>

