<br /><h1><%=h @eleitor.nome %></h1><br /><br /><br />
<div class="show">
  <p><b>Título de Eleitor:</b><%=h @eleitor.tit_eleitor %></p><br />
  <p><b>Código da Seção:</b><%=h @eleitor.cod_secao %></p><br />
  <p><b>Código da Zona:</b><%=h @eleitor.cod_zona %></p><br />
  <!--p><b>Código do Func:</b><%=h @eleitor.cod_func %></p><br /-->
  <p><b>Data de Nascimento:</b><%=h @eleitor.data_nasc %></p><br />
  <p><b>Cpf:</b><%=h @eleitor.cpf %></p><br />
  <p><b>Rg:</b><%=h @eleitor.rg %></p><br />
  <p><b>Cod bio:</b><%=h @eleitor.cod_bio %></p><br />
</div>



<span class="noborder"><%= link_to image_tag("/images/voltar.png", :border=>0), :action => 'index', :controller => 'eleitors' %></span>
<span class="edit"><%= link_to 'Editar', edit_eleitor_path(@eleitor) %></span>
<span class="noborder"><%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %></span>

