<div>
  <ul id="menu">
    <li>
      <a href="javascript:void(0)">Cadastrar</a>
      <ul>
        <li><%= link_to '| Eleitor |', eleitors_path %></li>
        <li><%= link_to ' Estados |', estados_path %></li>
        <li><%= link_to ' Municípios |', municipios_path %></li>
        <li><%= link_to ' Zonas |', zonas_path %></li>
        <li><%= link_to ' Seções |', secaos_path %></li>
        <li><%= link_to ' Partidos |', partidos_path %></li>
        <li><%= link_to ' Candidatos |', candidatos_path %></li>
        <li><%= link_to ' Justificativa |', home_index_path %></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">Serviços</a>
      <ul>
        <li><%= link_to '| Exibir Histórico |', home_index_path %></li>
        <li><%= link_to '| Pesquisar |', home_index_path %></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">Votar</a>
      <ul>
        <li><%= link_to '| Efetuar Votação |', home_index_path %></li>
      </ul>
    </li>
  </ul>
</div>

<!--%= collection_select(:onde_salva, :campo, Estado.all, :valor_salva, :valor_exibe) %-->

