<div id="menu1">
  <ul id="menu">
    <li>
      <a href="javascript:void(0)"> | Manter dados da Eleição</a>
      <ul>
        <li><%= link_to ' | Funcionário ', home_index_path %></li>
        <li><%= link_to ' | Partidos ', partidos_path %></li>
        <li><%= link_to ' | Candidatos ', candidatos_path %></li>
        <li id="ok"><%= link_to ' | Eleitor ', eleitors_path %></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)"> | Efetuar Votação</a>
      <ul>
        <li><%= link_to ' | Convocação de Mesários ', home_index_path %></li>
        <li><%= link_to ' | Atualização de Votos ', home_index_path %></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)"> | Efetuar Justificativa</a>
      <ul>
        <li><%= link_to ' | Registro de Justificativa ', home_index_path %></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)"> | Encerrar Votação</a>
      <ul>
        <li><%= link_to ' | Consolidação do resultado final ', home_index_path %></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)"> | Gerar Relatórios Gerenciais</a>
      <ul>
        <li><%= link_to ' | Relatório de resultados ', home_index_path %></li>
        <li><%= link_to ' | Relatório de Justigficativas ', home_index_path %></li>
      </ul>
    </li>
        <li>
      <a href="javascript:void(0)"> | Modulo de Cadastramento</a>
      <ul>
        <li id="ok"><%= link_to ' | Estados ', estados_path %></li>
        <li id="ok"><%= link_to ' | Municípios ', municipios_path %></li>
        <li id="ok"><%= link_to ' | Zonas ', zonas_path %></li>
        <li id="ok"><%= link_to ' | Seções ', secaos_path %></li>
      </ul>
    </li>
  </ul>
</div>

<!--%= collection_select(:onde_salva, :campo, Estado.all, :valor_salva, :valor_exibe) %-->

