<ul>
  <li><%= link_to 'Cadastrar Eleitor', home_index_path %></li>
  <li><%= link_to 'Cadastrar Estados', home_index_path %></li>
  <li><%= link_to 'Cadastrar Zonas', home_index_path %></li>
  <li><%= link_to 'Cadastrar Seções', home_index_path %></li>
  <li><%= link_to 'Cadastrar Partidos', home_index_path %></li>
  <li><%= link_to 'Cadastrar Candidatos', home_index_path %></li>
  <li><%= link_to 'Exibir Histórico', home_index_path %></li>
  <li><%= link_to 'Efetuar Votação', home_index_path %></li>
  <li><%= link_to 'Cadastrar Justificativa', home_index_path %></li>
  <li><%= link_to 'Usuarios', home_index_path %></li>
  <li><%= link_to 'Usuarios', home_index_path %></li>
  <li><%= link_to 'Usuarios', home_index_path %></li>
  <li><%= link_to 'Usuarios', home_index_path %></li>
<ul>

