<br /><h1>Edição de Zona</h1><br /><br /><br />

<% form_for(@zona) do |f| %>
  <%= f.error_messages %>
<div class="editar">
  <p> Município: <%= collection_select(:zona, :municipio_id, Municipio.all, :id, :nome_munic) %></p><br />
  <p> Estado: <%= collection_select(:zona, :estado_id, Estado.all, :id, :nome_est) %></p><br />
  <p> Nome da Zona: <%= f.text_field :nome_zona %></p><br />
  <p class="atualizar"><%= f.submit "Atualizar" %></p><br />
<% end %>
</div>

<span class="noborder"><%= link_to image_tag("/images/voltar.png", :border=>0), :action => 'index', :controller => 'zonas' %></span>
<span class="view"><%= link_to 'Ver', @zona %></span>
<span class="noborder"><%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %></span>

