<h1>Edição de Zona</h1>

<% form_for(@zona) do |f| %>
  <%= f.error_messages %>

  <p>
    Município<br />
    <select name="municipio_select">
      <option></option>
      <% @municipio = Municipio.find(:all)
         @municipio.each do |municipio| %>
         <option value='<%= municipio.id %>'><%= municipio.id%> - <%= municipio.nome_munic %></option>
      <% end %>
    </select>
    <%= f.text_field :municipio_id %>
  </p>
  <p>
    Estado<br />
    <select name="estado_select">
      <option></option>
      <% @estado = Estado.find(:all)
         @estado.each do |estado| %>
         <option value='<%= estado.id%>'><%= estado.id%> - <%= estado.nome_est %></option>
      <% end %>
    </select>
    <%= f.text_field :estado_id %>
  </p>
  <p>
    Nome da Zona<br />
    <%= f.text_field :nome_zona %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Ver', @zona %> |
<%= link_to 'Voltar', zonas_path %>

