<h1>Edição de Zona</h1>

<% form_for(@zona) do |f| %>
  <%= f.error_messages %>

  <p>
    Código da Zona<br />
    <%= f.text_field :cod_zona %>
  </p>
  <p>
    Código do Município<br />
    <%= f.text_field :cod_munic %>
  </p>
  <p>
    Código do Estado<br />
    <%= f.text_field :cod_est %>
  </p>
  <p>
    Nome da Zona<br />
    <%= f.text_field :nome_zona %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Ver', @zona %> |
<%= link_to 'Voltar', zonas_path %>

