<br /><h1>Listagem de Zonas</h1><br /><br /><br />

<table>
  <tr>
    <th>Código da Zona</th>
    <th>Código do Município</th>
    <th>Código do Estado</th>
    <th>Nome da Zona</th>
  </tr>

<% for zona in @zonas %>
  <tr>
    <td><%=h zona.id %></td>
    <td><%=h zona.municipio_id %></td>
    <td><%=h zona.estado_id %></td>
    <td><%=h zona.nome_zona %></td>
    <td class="view"><%= link_to 'Ver', zona %></td>
    <td class="edit"><%= link_to 'Editar', edit_zona_path(zona) %></td>
    <td class="cancel"><%= link_to 'Excluir', zona, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="add"><%= link_to 'Nova Zona', new_zona_path %></span>
<span class="home"><%= link_to 'HOME', home_index_path %></span>

