<h1>Listagem de Zonas</h1>

<table>
  <tr>
    <th>Código da Zona</th>
    <th>Código do Município</th>
    <th>Código do Estado</th>
    <th>Nome da Zona</th>
  </tr>

<% for zona in @zonas %>
  <tr>
    <td><%=h zona.cod_zona %></td>
    <td><%=h zona.cod_munic %></td>
    <td><%=h zona.cod_est %></td>
    <td><%=h zona.nome_zona %></td>
    <td><%= link_to 'Ver', zona %></td>
    <td><%= link_to 'Editar', edit_zona_path(zona) %></td>
    <td><%= link_to 'Excluir', zona, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Zona', new_zona_path %>
<%= link_to 'HOME', home_index_path %>

