<h1>Nova Zona</h1>

<% form_for(@zona) do |f| %>
  <%= f.error_messages %>

  <p>
    Estado<br />
    <%= collection_select(:zona, :estado_id, Estado.all, :id, :nome_est) %>
  </p>
  <p>
    Município<br />
    <%= collection_select(:zona, :municipio_id, Municipio.all, :id, :nome_munic) %>
  </p>
  <p>
    Nome da Zona<br />
    <%= f.text_field :nome_zona %>
  </p>
  <p>
    <%= f.submit "Criar" %>
  </p>
<% end %>

<%= link_to 'Voltar', zonas_path %>

