<br /><h1>Nova Zona</h1><br /><br /><br />

<% form_for(@zona) do |f| %>
  <%= f.error_messages %>
<div class="new">
  <p>Estado: <%= collection_select(:zona, :estado_id, Estado.all, :id, :nome_est) %></p><br />
  <p>Município: <%= collection_select(:zona, :municipio_id, Municipio.all, :id, :nome_munic) %></p><br />
  <p>Nome da Zona: <%= f.text_field :nome_zona %></p><br />
  <p class="criar"><%= f.submit "Criar" %></p><br />
<% end %>
</div>

<span class="voltar"><%= link_to 'Voltar', zonas_path %></span>
<span class="home"><%= link_to 'HOME', home_index_path %></span>

