<p>
  <b>Código da Zona:</b>
  <%=h @zona.cod_zona %>
</p>

<p>
  <b>Código Município:</b>
  <%=h @zona.cod_munic %>
</p>

<p>
  <b>Código do Estado:</b>
  <%=h @zona.cod_est %>
</p>

<p>
  <b>Nome da Zona:</b>
  <%=h @zona.nome_zona %>
</p>


<%= link_to 'Editar', edit_zona_path(@zona) %> |
<%= link_to 'Voltar', zonas_path %>

