<p>
  <b>Cod zona:</b>
  <%=h @zona.cod_zona %>
</p>

<p>
  <b>Cod munic:</b>
  <%=h @zona.cod_munic %>
</p>

<p>
  <b>Cod est:</b>
  <%=h @zona.cod_est %>
</p>

<p>
  <b>Nome zona:</b>
  <%=h @zona.nome_zona %>
</p>


<%= link_to 'Edit', edit_zona_path(@zona) %> |
<%= link_to 'Back', zonas_path %>
