<br /><h1>Edição de Estado</h1><br /><br />

<% form_for(@estado) do |f| %>
  <%= f.error_messages %>

<div class="editar">
  <p>Nome do Estado: <%= f.text_field :nome_est %></p><br />
  <p class="atualizar"><%= f.submit "Atualizar" %></p><br />
<% end %>
</div>

<span class="view"><%= link_to 'Exibir', @estado %></span>
<span class="voltar"><%= link_to 'Voltar', estados_path %></span>

