<h1>Edição de Estado</h1>

<% form_for(@estado) do |f| %>
  <%= f.error_messages %>

  <p>
    Nome do Estado<br />
    <%= f.text_field :nome_est %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Exibir', @estado %> |
<%= link_to 'Voltar', estados_path %>

