<br /><h1>Lista de Estados</h1><br /><br /><br />

<table>
  <tr>
    <th>Código do Estado</th>
    <th>Nome do Estado</th>
  </tr>

<% for estado in @estados %>
  <tr>
    <td><%=h estado.id %></td>
    <td><%=h estado.nome_est %></td>
    <td class="noborder"><%= link_to image_tag("/images/view.png", :border=>0), :action => 'show', :id => estado %></td>
    <td class="noborder"><%= link_to image_tag("/images/edit.png", :border=>0), :action => 'edit', :id => estado %></td>
    <td class="noborder"><%= link_to image_tag("/images/cancel.png", :border=>0), estado, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to image_tag("/images/add.png", :border=>0), :action => 'new', :id => estado %>
<%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %>

