<br /><h1>Lista de Estados</h1><br /><br /><br />

<table>
  <tr>
    <th>Código do Estado</th>
    <th>Nome do Estado</th>
  </tr>

<% for estado in @estados %>
  <tr>
    <td><%=h estado.id %></td>
    <td><%=h estado.nome_est %></td>
    <td class="view"><%= link_to 'Exibir', estado %></td>
    <td class="edit"><%= link_to 'Editar', edit_estado_path(estado) %></td>
    <td class="cancel"><%= link_to 'Excluir', estado, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="add"><%= link_to 'Novo Estado', new_estado_path %></span>
<span class="home"><%= link_to 'HOME', home_index_path %></span>

