<br /><h1>Novo Estado</h1><br /><br /><br />

<% form_for(@estado) do |f| %>
  <%= f.error_messages %>
<div class=new>
  <p>Nome do Estado: <%= f.text_field :nome_est %></p><br />
  <p class="criar"><%= f.submit "Criar" %></p><br />
<% end %>
</div>

<span class="noborder"><%= link_to image_tag("/images/voltar.png", :border=>0), :action => 'index', :controller => 'estados' %></span>
<span class="noborder"><%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %></span>

