<h1>Novo Estado</h1>

<% form_for(@estado) do |f| %>
  <%= f.error_messages %>

  <p>
    Código do Estado<br />
    <%= f.text_field :cod_est %>
  </p>
  <p>
    Nome do Estado<br />
    <%= f.text_field :nome_est %>
  </p>
  <p>
    <%= f.submit "Criar" %>
  </p>
<% end %>

<%= link_to 'Voltar', estados_path %>

