<br /><h1>Localidade</h1><br /><br /><br />

<div class="show">
  <p><b>Código do Estado: </b><%=h @estado.id %></p><br />
  <p><b>Nome do Estado: </b><%=h @estado.nome_est %></p><br />
</div>

<span class="noborder"><%= link_to image_tag("/images/voltar.png", :border=>0), :action => 'index', :controller => 'estados' %></span>
<span class="edit"><%= link_to 'Editar', edit_estado_path(@estado) %></span>
<span class="noborder"><%= link_to image_tag("/images/home.png", :border=>0), :action => 'index', :controller => 'home' %></span>

